/* --- Timeline CSS --- */
/* Imported from https://codepen.io/cbolson/pen/rNEdgKo.css layer(template) */

@layer demo;

@layer demo {

    /* Hide radio buttons */
    input[type="radio"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .cards-container {
        --base-rotation: 0deg;
        --full-circle: 360deg;
        --radius: 40vw;
        --duration: 200ms;

        --cards-container-size: calc(var(--radius) * 2);
        --cards-container-padding: 2rem;

        --border-color: var(--clr-border);

        --label-offset: calc(var(--radius) * -1 - 1rem);
        --label-size: 30px;
        --label-color: var(--clr-border);
        --label-color-hover: var(--clr-text);
        --label-line-h: 0;
        --label-line-h-current: 2rem;
        --label-dot-size: 10px;

        --title-top: 1.5rem;
        --title-offset-y: 30px;

        --info-top: 5rem;
        --info-width: min(70%, 500px);
        --info-offset-y: 30px;

        box-sizing: content-box;
        position: fixed;
        inset: 0;
        margin: 5rem auto;
        width: var(--cards-container-size);
        height: var(--cards-container-size);
        padding: var(--cards-container-padding);




        @media (min-width: 800px) {
            --radius: 30vw;
            --label-size: 40px;
            --label-dot-size: 15px;
            --label-line-h-current: 4rem;
            --title-top: 4rem;
            --info-top: 8rem;
        }


        @media (min-width: 1200px) {
            --label-size: 50px;
            --border-color: var(--clr-border);
        }

    }

    .cards {
        position: absolute;
        inset: var(--cards-container-padding);
        aspect-ratio: 1;
        border-radius: 50%;
        border: 0.25px solid var(--border-color);
        transition: transform 0.3s ease-in-out var(--duration);
        list-style: none;
    }



    .cards li {
        position: absolute;
        inset: 0;
        margin: 0;
        padding: 0;
        transform-origin: center;
        display: grid;
        place-content: center;
        transform: rotate(calc(var(--i) * 360deg / var(--items)));
        pointer-events: none;
    }

    .cards li>label {
        position: absolute;
        inset: 0;
        margin: auto;
        transform: translateY(var(--label-offset));
        width: var(--label-size);
        height: var(--label-size);
        cursor: pointer;
        pointer-events: initial;
        text-align: center;
        color: var(--label-color);
        font-size: clamp(.8rem, 2.5vw + .25rem, 1rem);
        font-weight: 200;
        transition: var(--duration) ease-in-out;

    }

    .cards li>label::before {
        content: '';
        position: absolute;
        top: var(--cards-container-padding);
        left: 50%;
        translate: -50% 0;
        width: var(--label-dot-size);
        height: var(--label-dot-size);
        aspect-ratio: 50%;
        border-radius: 50%;
        background-color: var(--label-color);
        transition: background-color var(--duration) ease-in-out;
    }

    .cards li>label::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% 5px;
        width: 2px;
        height: var(--label-line-h);
        background-color: var(--label-color);
        transition: height 300ms ease-in-out var(--label-line-delay, 0ms);
    }

    .cards li>label:hover {
        --label-color: var(--label-color-hover);
    }

    .year-projects {
        position: absolute;
        left: 50%;
        top: var(--title-top);
        transform: translate(-50%, 0);
        text-align: center;
        opacity: 0;
        translate: 0 30px;
        transition: var(--duration) ease-in-out 0ms;
        pointer-events: none;
        z-index: 100;
        max-height: 60vh;
        overflow-y: auto;
        border-radius: 50%;
        /* background-color: rgba(113, 113, 113, 0.3); */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: 10% 1rem;
    }

    /* Show projects when year is selected */
    li:has(input:checked) .year-projects {
        opacity: 1;
        translate: 0 0;
        transition: var(--duration) ease-in-out calc(var(--duration) * 3);
        pointer-events: initial;
    }

    .year-projects h2 {
        font-size: 1.35rem;
        color: var(--clr-text);
        margin: 0.5rem 0;
        cursor: pointer;
        z-index: 5;

    }

    .year-projects h2:hover,
    .year-projects h2:active {
        font-weight: 500;
    }

    .year-projects h2 a {
        color: var(--clr-text);
        text-decoration: none;
        padding-bottom: 0.5rem;
    }

    .cards>li>h2,
    .cards>li>p {
        position: absolute;
        left: 50%;
        text-align: center;
        transform: translate(-50%, 0);
        transform-origin: center;
    }

    .cards>li>p {
        top: var(--info-top);
        margin: 0 auto;
        width: var(--info-width);
        z-index: 2;
        font-size: clamp(.8rem, 2.5vw + 0.05rem, .9rem);
        text-align: left;
        text-wrap: pretty;
        opacity: var(--info-opacity, 0);
        /*translate: 0 var( --info-offset-y);*/
        transition: var(--duration) ease-in-out var(--info-delay, 0ms);
    }

    /* update custom properties for checked item */
    li:has(input:checked) {
        z-index: 999;
        --label-opacity: 1;
        --label-color: var(--label-color-hover);
        --label-line-h: var(--label-line-h-current);
        --label-line-delay: calc(var(--duration) * 2);

        --title-opacity: 1;
        --title-offset-y: 0;
        --title-delay: calc(var(--duration) * 3);

        --info-opacity: 1;
        --info-offset-y: 0;
        --info-delay: calc(var(--duration) * 4);
        /*outline: 1px dashed red;*/
    }

    /* rotate container based on checked radio */
    .cards:has(input:checked) {
        transform: rotate(calc(var(--base-rotation) - (var(--index) * var(--full-circle) / var(--items))));
    }

    /*
  this would be so much simpler if we could use counter values as custom property values
  */
    .cards:has(li:nth-child(1)>input:checked) {
        --index: 0;
    }

    .cards:has(li:nth-child(2)>input:checked) {
        --index: 1;
    }

    .cards:has(li:nth-child(3)>input:checked) {
        --index: 2;
    }

    .cards:has(li:nth-child(4)>input:checked) {
        --index: 3;
    }

    .cards:has(li:nth-child(5)>input:checked) {
        --index: 4;
    }

    .cards:has(li:nth-child(6)>input:checked) {
        --index: 5;
    }

    .cards:has(li:nth-child(7)>input:checked) {
        --index: 6;
    }

    .cards:has(li:nth-child(8)>input:checked) {
        --index: 7;
    }

    .cards:has(li:nth-child(9)>input:checked) {
        --index: 8;
    }

    .cards:has(li:nth-child(10)>input:checked) {
        --index: 9;
    }

    .cards:has(li:nth-child(11)>input:checked) {
        --index: 10;
    }

    .cards:has(li:nth-child(12)>input:checked) {
        --index: 11;
    }

    .cards:has(li:nth-child(13)>input:checked) {
        --index: 12;
    }

    .cards:has(li:nth-child(14)>input:checked) {
        --index: 13;
    }

    .cards:has(li:nth-child(15)>input:checked) {
        --index: 14;
    }

    .cards:has(li:nth-child(16)>input:checked) {
        --index: 15;
    }

    .cards:has(li:nth-child(17)>input:checked) {
        --index: 16;
    }

    .cards:has(li:nth-child(18)>input:checked) {
        --index: 17;
    }

    .cards:has(li:nth-child(19)>input:checked) {
        --index: 18;
    }

    .cards:has(li:nth-child(20)>input:checked) {
        --index: 19;
    }

    .cards:has(li:nth-child(21)>input:checked) {
        --index: 20;
    }

    .cards:has(li:nth-child(22)>input:checked) {
        --index: 21;
    }

    .cards:has(li:nth-child(23)>input:checked) {
        --index: 22;
    }

    .cards:has(li:nth-child(24)>input:checked) {
        --index: 23;
    }

    .cards:has(li:nth-child(25)>input:checked) {
        --index: 24;
    }

    .cards:has(li:nth-child(26)>input:checked) {
        --index: 25;
    }
}